*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    background-color: #f9f9f9;
}
.main{
    line-height: 1.6;
    color: #333;
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;
}
#sidebar-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 2px solid #ddd;
}
#navbar {
    position: sticky; 
    top: 0;
}
#navbar header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.nav-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-decoration: none;
}
#content-container {
    padding: 20px ;
    margin: 0 20px;
}
.main-section {
    margin-bottom: 2rem;
}
.main-section header {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 1rem;
}
code {
    display: block;
    background-color: #f4f4f4;
    border-left: 2px solid #f4f4f4;
    padding: 10px;
    margin-bottom: 1rem;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
}
/* Responsive Design */
@media (max-width: 768px) {
    body {
        grid-template-columns: 35% 65%; 
    }
}

@media (max-width: 480px) {
    body {
        grid-template-columns: 100%; 
    }

    #sidebar-container {
        border-right: none;
        border-bottom: 2px solid #ddd;
    }
}