*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}
.main{
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;
}
#sidebar-container {
    background-color: #f4f4f4;
    padding: 20px 0px;
    border-right: 2px solid #ddd;
    width: 100%;
}
#navbar {
    position: fixed;
    height: 100%;
    color: #fff;
    
    
}
#navbar header {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 43px;
    margin: 10px;
    text-align: center;
}

.nav-link {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #333;
    padding: 10px 30px;
    text-decoration: none;
    line-height: 26px;
    
}
.main-section {
    margin-bottom: 2rem;
    padding: 20px;
    margin: 0;
}
.main-section header {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 1rem;
}
code {
    display: block;
    background-color: #f4f4f4;
    border-left: 2px solid #f4f4f4;
    padding: 10px;
    margin-bottom: 1rem;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
}
/* Responsive Design */
@media (max-width: 768px) {
    body {
        grid-template-columns: 35% 65%; 
    }
}

@media (max-width: 480px) {
    body {
        grid-template-columns: 100%; 
    }

    #sidebar-container {
        border-right: none;
        border-bottom: 2px solid #ddd;
    }
}